useDynLib(markovchain)
exportPattern("^[[:alpha:]]+")
import(igraph, Matrix,  methods)
import(parallel)
importFrom(utils, packageDescription)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats4",  plot, summary)
importFrom("matlab", zeros, find, eye, size, ones)
importFrom("expm",'%^%','logm')
importFrom("stats", sd,rexp,chisq.test,pchisq, predict, aggregate)

exportMethods(
    "*",
    "^",
    "==",
    "absorbingStates",
    "transientStates",
    "coerce",
    "dim",
    "initialize",
    #"plotMc",
    "plot",
    "print",
	"summary",
	"predict",
    "show",
    "states",
    "steadyStates",
    "canonicForm",
    "t",
	"[",
    "transitionProbability",
    "conditionalDistribution",
	"canonicForm"
)
exportClasses(
    "markovchain",
     "markovchainList" 
)
